html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
html {
	min-height: 100vh;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-height: 100vh;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none !important;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
/*#spotlight{
	background:#EEF8FF;
}*/
body{
	background:#EEF8FF;	
	}
#spotlight{
	text-align: center;
	padding:6% 0;	
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 90%;
	min-height: 50%;
	max-height: 100%;
}
#spotlight picture,#spotlight img{
	max-width: 80%;
	width:70%;
	display:block;
	margin:0 auto;
}
#spotlight h3{
	font-size: 50px;
	margin:5% 0;
	color: #1ABC9C; 
	font-family: 'open_sansregular'; 
}
.button {
	display: inline-block;
	padding: 20px 75px;
	color: #fff;
	border-radius: 50px;
	border: 1px solid #1ABC9C;	
	background: #1ABC9C;
	font-size: 33px;
	font-family: 'open_sanssemibold';
}

@media all  and (max-width: 1200px){
	#spotlight{
		top: 10%;
	}
}
@media all  and (max-width: 960px){
	#spotlight{
		top: 20%;
	}
}
@media all  and (max-width: 900px){
	#spotlight{
		top: 25%;
	}
	#spotlight h3 {
   		font-size: 43px;
   	}
   	.button {
    	font-size: 29px;
    }
}
@media all  and (max-width: 768px){
	#spotlight h3 {
   		font-size: 35px;
   	}
   	.button {
    	font-size: 25px;
    }
}
@media all  and (max-width: 640px){
	#spotlight h3 {
   		font-size: 24px;
   		margin: 8% 0;
   	}
   	.button {
    	font-size: 19px;
	    padding: 15px 30px;
    }
}
@media all  and (max-width: 480px){
	#spotlight h3 {
   		font-size: 21px;
   		margin: 8% 0;
   	}
   	.button {
    	font-size: 18px;
    	padding: 15px 30px;
	}
}
@media all  and (max-width: 360px){
	#spotlight h3 {
   		font-size: 18px;
   		margin: 8% 0;
   	}
   	.button {
    	font-size: 14px;
    	padding: 10px 20px;
	}
}